html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #0E0333;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.total-amount span {
  color: #6F3FF5;
  font-family: Poppins;
}
.total-amount p {
  color: #6F3FF5;
  font-family: Gobold Thin;
}
.footer {
  background: rgba(0, 0, 0, 0.4);
}
.footer p.info {
  font-family: Poppins;
  color: rgba(225, 225, 225, 0.5);
}
.vs-text {
  overflow: hidden;
  text-align: center;
}
.vs-text:before,
.vs-text:after {
  background-color: rgba(170, 139, 252, 0.3);
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.vs-text:before {
  right: 0.5em;
  margin-left: -50%;
}

.vs-text:after {
  left: 0.5em;
  margin-right: -50%;
}
.vs-text span {
  color: #6F3FF5;
}
.text-indigo {
  color: #AA8BFC !important;
}
.border-indigo {
  border-color: #6F3FF5;
}
.text-pink {
  color: #F35891 !important;
}
.bg-blue {
  background: #6F3FF5;
  opacity: 0.4;
}
.bg-blue:hover {
  opacity: 1;
}
.gitcoin-border {
  opacity: 0.5;
  border: 2px solid #6F3FF5;
  box-sizing: border-box;
}
.opacity-one {
  opacity: 1;
}
@media (min-width: 768px) {
  .md\:vs-text:before,
  .md\:vs-text:after {
    content: none;
  }
}
@media (min-width: 1024px) {
  .lg\:divide-gitcoin > :not([hidden]) ~ :not([hidden]) {
    border-color: #6F3FF5;
    opacity: 0.3;
  }
}
.game-losing::before {
  content: "";
  position: absolute;
  border-top: 2px solid #6F3FF5;
  width: 114%;
  transform: rotate(28.5deg);
  transform-origin: 0% 0%;
}